.todo {
  background: var(--gray-900);
  padding: var(--space-4);
}

.todo-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-2);
  font-size: var(--fontSizes-sm);
}

.todo-date {
  color: var(--gray-400);
}

.todo-description {
  font-size: var(--fontSizes-xl);
}

.button {
  position: relative;
  overflow: hidden;
  padding: var(--space-2) var(--space-4);
  border-radius: var(--radii-lg);
  cursor: pointer;
  border: 1px solid currentColor;
  transition: var(--transition-property-common),
    var(--transition-easing-ease-in-out), var(--transition-duration-300);

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: var(--zIndices-docked);
    width: var(--size);
    height: var(--size);
    border-radius: var(--radii-full);
    background-color: var(--gray-50);
    opacity: 0.2;
    transform: translate(-50%, -50%);
  }
  &:active::after {
    animation: button-scale 300ms linear;
    transform-origin: center;
  }
}

.pay {
  background-color: var(--persian-blue-500);
  color: var(--gray-50);
  border-color: var(--persian-blue-500);
  &:hover {
    background-color: var(--persian-blue-600);
  }
}

.cancel {
  color: var(--red-500);
  background-color: transparent;
  &:hover {
    color: var(--red-300);
    background-color: var(--red-900);
  }
}

@keyframes button-scale {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 200px;
    height: 200px;
  }
}
