.todo {
	background: var(--mirage-900);
	padding: var(--space-4);
	border-radius: var(--radii-lg);
	box-shadow: var(--shadow);
	margin-bottom: var(--space-4);
}

.todo-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: var(--space-3);
	font-size: var(--fontSizes-sm);
}

.todo-date {
	color: var(--mirage-300);
}

.todo-bottom {
	display: flex;
}

.todo-description {
	flex: 1;
	font-size: var(--fontSizes-xl);
}

.pay {
	background-color: var(--persian-blue-500);
	color: var(--mirage-50);
	border-color: var(--persian-blue-500);
	&:hover {
		background-color: var(--persian-blue-600);
	}
}

.delete {
	color: var(--red-500);
	background-color: transparent;
	padding: var(--space-1);
	&:hover {
		color: var(--red-300);
		background-color: var(--red-900);
	}
}
