.main {
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
	max-width: var(--sizes-3xl);
	min-width: var(--sizes-80);
}

.content {
	display: grid;
	grid-template-rows: repeat(2, auto) 1fr;
	row-gap: var(--space-6);
	padding: var(--space-4);
	height: inherit;
	overflow: hidden;
}
