.dropdown {
	position: relative;
	background: var(--mirage-950);
	border-radius: var(--radii-lg);
}

.dropdown-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: var(--space-4);
	padding: var(--space-3) var(--space-4);
	width: var(--sizes-full);
}

.dropdown-option {
	--height-size: 0;
	--opacity: 0;
	--visible: hidden;
	position: absolute;
	inset: 0px auto auto 0px;
	z-index: var(--zIndices-dropdown);
	font-size: var(--fontSizes-sm);
	text-align: left;
	height: var(--height-size);
	color: var(--mirage-50);
	background-color: var(--mirage-950);
	width: var(--sizes-full);
	border: 1px solid var(--mirage-800);
	border-radius: var(--radii-lg);
	opacity: var(--opacity);
	visibility: var(--visible);
	transform-origin: center;
	transform: translateY(var(--sizes-14));
	transition: var(--transition-property-common),
		var(--transition-easing-ease-in-out), var(--transition-duration-300);

	&.dropdown-open {
		--height-size: 140px;
		--opacity: 1;
		--visible: visible;
		overflow-y: auto;
	}
}

.dropdown-item {
	padding: var(--space-3) var(--space-4);
	cursor: pointer;
	&:hover {
		background-color: var(--mirage-900);
	}
}
