<div class="dropdown">
	<button type="button" class="dropdown-content" (click)="toggleDropdown()">
		@if (optionSelected?.name) {
		<span>{{ optionSelected?.name }}</span>
		} @else {
		<span>{{ placeholder }}</span>
		}
		<span>{{ !open ? "➕" : "➖" }}</span>
	</button>

	<ul [ngClass]="{ 'dropdown-option': true, 'dropdown-open': open }">
		@for (option of options; track $index) {
		<li class="dropdown-item" (click)="selectOption(option)">
			<span>{{ option.name }}</span>
		</li>
		}
	</ul>
</div>
