/* --------------- Colors --------------- */
:root {
	--green-50: #e8faf0;
	--green-100: #d1f4e0;
	--green-200: #a2e9c1;
	--green-300: #74dfa2;
	--green-400: #45d483;
	--green-500: #17c964;
	--green-600: #12a150;
	--green-700: #0e793c;
	--green-800: #095028;
	--green-900: #052814;

	--yellow-50: #fefce8;
	--yellow-100: #fdedd3;
	--yellow-200: #fbdba7;
	--yellow-300: #f9c97c;
	--yellow-400: #f7b750;
	--yellow-500: #f5a524;
	--yellow-600: #c4841d;
	--yellow-700: #936316;
	--yellow-800: #62420e;
	--yellow-900: #312107;

	--red-50: #fee7ef;
	--red-100: #fdd0df;
	--red-200: #faa0bf;
	--red-300: #f871a0;
	--red-400: #f54180;
	--red-500: #f31260;
	--red-600: #c20e4d;
	--red-700: #920b3a;
	--red-800: #610726;
	--red-900: #310413;

	--persian-blue-50: #ecf7ff;
	--persian-blue-100: #d4ebff;
	--persian-blue-200: #b2deff;
	--persian-blue-300: #7dcaff;
	--persian-blue-400: #40abff;
	--persian-blue-500: #1484ff;
	--persian-blue-600: #0060ff;
	--persian-blue-700: #0048ff;
	--persian-blue-800: #0037c4;
	--persian-blue-900: #0836a0;
	--persian-blue-950: #0a2261;
}

/** Light */
@media (prefers-color-scheme: dark) {
	:root {
		--gray-50: #fafafa;
		--gray-100: #f4f4f5;
		--gray-200: #e4e4e7;
		--gray-300: #d4d4d8;
		--gray-400: #a1a1aa;
		--gray-500: #71717a;
		--gray-600: #52525b;
		--gray-700: #3f3f46;
		--gray-800: #27272a;
		--gray-900: #18181b;
		--gray-950: #09090b;
	}
}

/** Dark */
@media (prefers-color-scheme: light) {
	:root {
		--gray-50: #09090b;
		--gray-100: #18181b;
		--gray-200: #27272a;
		--gray-300: #3f3f46;
		--gray-400: #52525b;
		--gray-500: #71717a;
		--gray-600: #a1a1aa;
		--gray-700: #d4d4d8;
		--gray-800: #e4e4e7;
		--gray-900: #f4f4f5;
		--gray-950: #fafafa;
	}
}
