/* --------------- Font family --------------- */
:root {
  $heading-font: "/assets/fonts/Quicksand-Bold";
  $main-font: "/assets/fonts/Delius-Regular";

  @font-face {
    font-family: "Quicksand";
    font-weight: bold;
    font-display: swap;
    src: local("Quicksand"), url("#{$heading-font}.woff2") format("woff2"),
      url("#{$heading-font}.woff") format("woff"),
      url("#{$heading-font}.ttf") format("truetype");
  }

  @font-face {
    font-family: "Delius";
    font-weight: 400;
    font-display: swap;
    src: local("Delius"), url("#{$main-font}.woff2") format("woff2"),
      url("#{$main-font}.woff") format("woff"),
      url("#{$main-font}.ttf") format("truetype");
  }

  --heading-font: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";

  --main-font: "Delius", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}
