:root {
	--scroll-size: 8px;
	@media (prefers-color-scheme: dark) {
		--scroll-track-color: rgb(255, 255, 255, 0.01);
		--scroll-thumb-color: rgb(255 255 255 / 0.1);
		--scroll-thumb-hover: rgb(255 255 255 / 0.2);
	}

	@media (prefers-color-scheme: light) {
		--scroll-track-color: rgb(0, 0, 0, 0.1);
		--scroll-thumb-color: rgb(0 0 0 / 0.25);
		--scroll-thumb-hover: rgb(0 0 0 / 0.35);
	}
}

*,
html {
	&::-webkit-scrollbar-track,
	&::-webkit-scrollbar-button,
	&::-webkit-scrollbar-corner,
	&::-webkit-scrollbar-track-piece {
		-webkit-box-shadow: inset 0 0 6px var(--scroll-track-color);
		display: none;
		background-color: var(--scroll-track-color);
	}

	&::-webkit-scrollbar {
		width: var(--scroll-size);
		background-color: var(--scroll-track-color);
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--scroll-thumb-color);
		border-radius: var(--scroll-size);

		&:hover {
			background-color: var(--scroll-thumb-hover);
		}
	}
}
