.form {
	padding: var(--space-4);
	background: var(--gray-900);
	border-radius: var(--radii-md);

	@media (width >= 768px) {
		padding: var(--space-6);
	}
}
.form-fieldset {
	@media (width >= 768px) {
		display: flex;
		align-items: flex-end;
		column-gap: var(--space-4);
	}
}
.form-legend {
	text-align: center;
	font-size: var(--fontSizes-2xl);
	font-family: var(--heading-font);
}
.form-group {
	flex: 1;
	padding: var(--space-2) 0;
}
.form-group-button {
	flex: 0;
}
.form-label {
	margin-bottom: var(--space-2);
}
.form-input {
	background: var(--gray-950);
	width: var(--sizes-full);
	padding: var(--space-3) var(--space-4);
	border-radius: var(--radii-lg);
	border: 1px solid var(--gray-800);
	&:active,
	&:focus {
		border-color: var(--persian-blue-500);
	}
}

.form-button {
	--bg: var(--persian-blue-500);
	padding: var(--space-3) var(--space-4);
	margin-left: auto;
	margin-right: auto;
	color: var(--persian-blue-50);
	background-color: var(--bg);
	border-color: var(--bg);
	border-radius: var(--radii-lg);
	&:hover {
		--bg: var(--persian-blue-600);
	}
}

.message {
	color: var(--red-500);
	text-align: center;
	margin-bottom: var(--space-2);
	font-size: var(--fontSizes-sm);
	text-wrap: nowrap;
}
